@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: "Manrope", sans-serif;
    position: relative;
}
:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);
}
body {
    /* background: url(./design/desktop-active-state.jpg) no-repeat; */
    background: var(--Light-Grayish-Blue);
    padding: 0 1.85rem;
}
main {
    display: flex;
    flex-flow: column;
    max-width: 56.1rem;
    border-radius: 0.8rem;
    margin: 5.65rem 0;
    background: var(--white);
}
img {
    width: 100%;
}
.photo img {
    top: -15px;
}
.photo {
    border-radius: 0.8rem 0.8rem 0 0 ;
    overflow: hidden;
    max-height: 15.5rem;
}
.content {
    display: flex;
    flex-flow: column;
    padding: 2.6rem 2.4rem 1.4rem ;
    gap: 1rem;
}
.first {
    font-size: 1.27rem;
    font-weight: 700;
    line-height: 1.9rem;
    color: var(--Very-Dark-Grayish-Blue);
}
.second {
    line-height: 1.5rem;
    font-weight: 650;
    color: var(--Desaturated-Dark-Blue);
}
.user {
    margin: 1.25rem 0 0 0;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-weight: 500;
}
.user-photo {
    max-width: 3.2rem;
}
.user-photo img {
    border-radius: 50%;
}
.info {
    display: flex;
    flex-flow: column;
}
.name{
    font-weight: 700;
    color: var(--Very-Dark-Grayish-Blue);
}
.date {
    margin: 0.2rem 0 0 0;
    color: var(--Grayish-Blue);
}
.share {
    cursor: pointer;
    margin: 0.2rem 0 0 3.6rem;
    padding: 0.5rem 0.6rem;
    background: var(--Light-Grayish-Blue);
    border-radius: 50%;
    z-index: 1;
    fill: #6E8098;
}
.share-after {
    fill: #fff;
    background: var(--Desaturated-Dark-Blue);
}
.share-tape {
    display: none;
    flex-flow: row;
    align-items: center;
    position: absolute;
    left: -31px;
    top: -9px;
    gap: 1.25rem;
    background: var(--Very-Dark-Grayish-Blue);
    padding: 1.7rem 13.7rem 2.3rem 2.4rem;
    color: var(--Grayish-Blue);
    letter-spacing: 0.4rem;
    border-radius:  0 0 0.8rem 0.8rem;
}
.show {
    display: flex;
    animation: show 0.5s forwards ease-out;
}
@keyframes show {
    0%, 100%{
        display: flex;
    }
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
.share-tape p {
    text-transform: uppercase;
}
.share-tape img {
    cursor: pointer;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: none;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
@media screen and (min-Width: 327px) {
    main {
        flex-flow: row;
        margin: 20rem auto 0;
    }
    .photo {
        border-radius: 0.8rem 0 0 0.8rem;
        max-height: none;
        height: 21.5rem;
        width: 59.5rem;
    }
    .photo img {
        height: 100%;
        width: auto;
        top: 0;
    }
    .content {
        padding: 2.6rem 3rem 1.4rem 3.1rem;
        max-width: 444px;
    }
    .first {
        font-size: 1.57rem;
        line-height: 2.1rem;
    }
    .second {
        font-weight: 600;
    }
    .user {
        margin: 0.4rem 0 0 0;
        gap: 1.1rem;
    }
    .share {
        margin: 0 0 0 11.5rem;
    }
    .share-tape {
        border-radius: 0.8rem;
        left: 224px;
        top: -76px;
        padding: 1.38rem 7.4rem 1.3rem 2.8rem;
    }
    .share-tape::after {
        content: "";
        border: 1rem solid;
        border-color: var(--Very-Dark-Grayish-Blue) transparent transparent transparent;
        position: absolute;
        top: 54px;
        left: 110px;
    }
}